labs/activity8-guardrails/Activity8b-Guardrails.json
{
  "name": "Activity 8b — Pre & Post Guardrails for the AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "guarded-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        144
      ],
      "id": "75b632a6-c93d-4cdc-8c45-688c04eb9962",
      "name": "Chat Webhook",
      "webhookId": "317dfe7e-fa34-4806-9959-bf5ef28b62d0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Webhook').item.json.body.message }}",
        "options": {
          "systemMessage": "You are a helpful, safe assistant. Refuse unsafe or out-of-scope requests."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -480,
        128
      ],
      "id": "178364c4-10c3-4768-811f-00a061628040",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -496,
        320
      ],
      "id": "883b5bf3-108d-4c38-abb4-9124c55d0ec3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HncP6z2nrPdrEcFY",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.guardrailsInput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        112,
        112
      ],
      "id": "ddf49669-cd1f-40c6-b21a-18271b002e39",
      "name": "Respond (allowed)"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Sorry, I can't help with that request.",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        112,
        336
      ],
      "id": "9f33c8f0-e936-439b-8347-9311402fc9a8",
      "name": "Respond (blocked)"
    },
    {
      "parameters": {
        "text": "={{ $json.body.message }}",
        "guardrails": {
          "secretKeys": {
            "value": {
              "permissiveness": "balanced"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 2,
      "position": [
        -688,
        144
      ],
      "id": "d8ad5f22-b3e9-449e-accf-11440f125ed3",
      "name": "Guardrails"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "guardrails": {
          "keywords": "tiger, lion"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 2,
      "position": [
        -160,
        128
      ],
      "id": "5c958431-0731-427a-ae9c-d954a941816f",
      "name": "Guardrails2"
    }
  ],
  "pinData": {
    "Chat Webhook": [
      {
        "json": {
          "headers": {
            "host": "jerrie-testy-hyperdeliciously.ngrok-free.dev",
            "x-real-ip": "172.18.0.4",
            "x-forwarded-for": "118.189.22.142, 172.18.0.4",
            "x-forwarded-proto": "https",
            "connection": "Upgrade",
            "content-length": "138",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36",
            "accept": "application/json",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9,zh-CN;q=0.8,zh;q=0.7,zh-TW;q=0.6,vi;q=0.5,ms;q=0.4,af;q=0.3",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"148\", \"Google Chrome\";v=\"148\", \"Not/A)Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-host": "jerrie-testy-hyperdeliciously.ngrok-free.dev"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "chat",
            "message": "retire now",
            "name": "woe ming",
            "phone": "999",
            "email": "tanwoe@gamfdsaf.com",
            "source": "investment-advisor-website"
          },
          "webhookUrl": "https://jerrie-testy-hyperdeliciously.ngrok-free.dev/webhook/guarded-chat",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Guardrails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Guardrails2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond (blocked)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails2": {
      "main": [
        [
          {
            "node": "Respond (allowed)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond (blocked)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c91e83a3-1647-4d23-9adc-bf9723613a3f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fcdd11be6122db515fd1e031acff4a3eeab5f077f43f29bb025528511f775668"
  },
  "nodeGroups": [],
  "id": "Fr2X7ibXZOfRQfsy",
  "tags": []
}