labs/activity8-guardrails/Activity8a-Human-in-the-Loop.json
{
  "nodes": [
    {
      "parameters": {
        "options": {},
        "formTitle": "Leave Application",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Employee",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Start Date",
              "fieldType": "date"
            },
            {
              "fieldLabel": "End Date",
              "fieldType": "date"
            },
            {
              "fieldLabel": "Reason",
              "fieldType": "textarea"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "84fb62a2-e24c-4676-bdd2-f7fd1e28117d",
      "name": "Leave Request Form",
      "webhookId": "127fd0ae-28d3-4586-ac4d-80d1e6081168"
    },
    {
      "parameters": {
        "sendTo": "manager@mycompany.com",
        "subject": "=Leave approval needed: {{ $json.Employee }}",
        "message": "=Approve leave for {{ $json.Employee }} ({{ $json['Start Date'] }} to {{ $json['End Date'] }}).\\nReason: {{ $json.Reason }}",
        "options": {},
        "operation": "sendAndWait",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ],
      "id": "23b415e5-a766-44d5-8ab6-a9cc03812b5d",
      "name": "Manager Approval",
      "webhookId": "8f098d30-961f-4907-88c2-b361a2100bb8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "81af395e-f1a6-4e1d-b25e-46e1938366c7",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        0
      ],
      "id": "84b01d15-87a5-46e4-8225-931af29c478e",
      "name": "If Approved"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Your leave is approved",
        "message": "Your leave request has been approved.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        720,
        -120
      ],
      "id": "0c4a37f2-3e5b-4ac9-bc6f-594fb7522e3d",
      "name": "Email: Approved",
      "webhookId": "ff810806-b6f9-4a9b-b60f-60a279a7c398"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Your leave request",
        "message": "Sorry, your leave request was not approved.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        720,
        120
      ],
      "id": "cef62fd9-4dfa-4003-b4ed-1e6f5997cd53",
      "name": "Email: Declined",
      "webhookId": "3af71b13-0936-43ad-a0d8-75ae5b6358fe"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "CvZ4zZMT30wgDNO0",
          "mode": "list",
          "cachedResultName": "Event",
          "cachedResultUrl": "/projects/koXyebnPoyxlBtCG/datatables/CvZ4zZMT30wgDNO0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Joining": true,
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Tel": "={{ $json.Tel }}",
            "Message": "={{ $json.Message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tel",
              "displayName": "Tel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Joining",
              "displayName": "Joining",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "insert"
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        960,
        -120
      ],
      "id": "84250639-98a1-446d-a6da-128cd2aca877",
      "name": "Record Leave"
    }
  ],
  "connections": {
    "Leave Request Form": {
      "main": [
        [
          {
            "node": "Manager Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager Approval": {
      "main": [
        [
          {
            "node": "If Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved": {
      "main": [
        [
          {
            "node": "Email: Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email: Declined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Approved": {
      "main": [
        [
          {
            "node": "Record Leave",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "Activity 8a — Human-in-the-Loop Approval (Leave Application)",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "id": "38ce764640c94ac8",
  "meta": {
    "templateId": "tertiaryinfotech-n8n-course"
  },
  "tags": []
}