labs/activity8-guardrails/Activity8b-Guardrails.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "guarded-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b8a956d4-eec3-4bc9-a868-df1c0d7913f8",
      "name": "Chat Webhook",
      "webhookId": "317dfe7e-fa34-4806-9959-bf5ef28b62d0"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9f53760-a3d1-4389-ba36-0c78da4af646",
              "leftValue": "={{ $json.body.message.toLowerCase() }}",
              "rightValue": "ignore previous",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        0
      ],
      "id": "219cce04-e880-45b1-ba8d-3ce56efb62ca",
      "name": "Pre-Guardrail (input)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a helpful, safe assistant. Refuse unsafe or out-of-scope requests."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        -120
      ],
      "id": "422a5538-52a8-4b4b-ab86-4e65a03c1178",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        420,
        80
      ],
      "id": "f64918b7-2c64-43e3-a02d-edca30eb786d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UIBPmijf4wS4ngHz",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d13f9ad3-1f32-4b46-962e-5f8de23dc739",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        -120
      ],
      "id": "98c73d96-30b9-4878-99b5-49ff6dd45fd8",
      "name": "Post-Guardrail (output)"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        960,
        -160
      ],
      "id": "df1c6825-6926-49ad-b244-73bf8c7565f0",
      "name": "Respond (allowed)"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Sorry, I can't help with that request.",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        480,
        200
      ],
      "id": "904cd567-5171-4e61-953d-502a0972ba71",
      "name": "Respond (blocked)"
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Pre-Guardrail (input)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-Guardrail (input)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond (blocked)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Post-Guardrail (output)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Post-Guardrail (output)": {
      "main": [
        [
          {
            "node": "Respond (allowed)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond (blocked)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "Activity 8b — Pre & Post Guardrails for the AI Agent",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "id": "da3a8f98dc2c412b",
  "meta": {
    "templateId": "tertiaryinfotech-n8n-course"
  },
  "tags": []
}