labs/activity8-guardrails/Activity8a-Human-in-the-Loop.json
{
  "name": "Activity 8a — Human-in-the-Loop Approval (Leave Application)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Leave Application",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Employee",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Start Date",
              "fieldType": "date"
            },
            {
              "fieldLabel": "End Date",
              "fieldType": "date"
            },
            {
              "fieldLabel": "Reason",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -720,
        128
      ],
      "id": "ef7e332e-1d22-4cb0-8c8a-cdb94f0c4731",
      "name": "Leave Request Form",
      "webhookId": "6d1e672e-bad5-489d-8f15-533f6788d15d"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ $json.Email }}",
        "subject": "=Leave approval needed: {{ $json.Employee }}",
        "message": "=Approve leave for {{ $json.Employee }} ({{ $json['Start Date'] }} to {{ $json['End Date'] }}).\\nReason: {{ $json.Reason }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -480,
        128
      ],
      "id": "004f476e-74ac-4946-83a1-5290901226b0",
      "name": "Manager Approval",
      "webhookId": "8f098d30-961f-4907-88c2-b361a2100bb8",
      "credentials": {
        "gmailOAuth2": {
          "id": "xhglhOJK9h9Yy6Fg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "81af395e-f1a6-4e1d-b25e-46e1938366c7",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        128
      ],
      "id": "160c7377-2c8e-4158-a4f8-b606cbdab5f3",
      "name": "If Approved"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Leave Request Form').item.json.Email }}",
        "subject": "Your leave is approved",
        "message": "Your leave request has been approved.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "3e1c9fb1-70b3-44c0-9906-a5ae8b2d3871",
      "name": "Email: Approved",
      "webhookId": "ff810806-b6f9-4a9b-b60f-60a279a7c398",
      "credentials": {
        "gmailOAuth2": {
          "id": "xhglhOJK9h9Yy6Fg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Leave Request Form').item.json.Email }}",
        "subject": "Your leave request",
        "message": "Sorry, your leave request was not approved.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        240
      ],
      "id": "c34a8816-5e22-44e9-8cc6-64b4e60e75af",
      "name": "Email: Declined",
      "webhookId": "3af71b13-0936-43ad-a0d8-75ae5b6358fe",
      "credentials": {
        "gmailOAuth2": {
          "id": "xhglhOJK9h9Yy6Fg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "u1ngyP3q4jgpdvCW",
          "mode": "list",
          "cachedResultName": "rsvp sample",
          "cachedResultUrl": "/projects/7S0xyLkjOJLVAi5v/datatables/u1ngyP3q4jgpdvCW"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Joining": true,
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Tel": "={{ $json.Tel }}",
            "Message": "={{ $json.Message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tel",
              "displayName": "Tel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Joining",
              "displayName": "Joining",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        240,
        0
      ],
      "id": "88917bcd-c8ec-4b49-bf8d-92bd20465708",
      "name": "Record Leave"
    }
  ],
  "pinData": {
    "Leave Request Form": [
      {
        "json": {
          "Employee": "tan",
          "Email": "tanwoeiming@gmail.com",
          "Start Date": "2026-06-25",
          "End Date": "2026-06-26",
          "Reason": "sick",
          "submittedAt": "2026-06-25T12:14:21.176+08:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Leave Request Form": {
      "main": [
        [
          {
            "node": "Manager Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager Approval": {
      "main": [
        [
          {
            "node": "If Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved": {
      "main": [
        [
          {
            "node": "Email: Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email: Declined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Approved": {
      "main": [
        [
          {
            "node": "Record Leave",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a4428b8f-5250-4400-853e-07b875b16e0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fcdd11be6122db515fd1e031acff4a3eeab5f077f43f29bb025528511f775668"
  },
  "nodeGroups": [],
  "id": "ICWLF3I5um0bZANI",
  "tags": []
}