labs/activity5-rag/Activity5b-Pinecone-Upload.json
{
  "updatedAt": "2025-12-26T16:48:42.874Z",
  "createdAt": "2025-11-14T18:18:23.415Z",
  "id": "dc68081ce045451a",
  "name": "Activity 5b — Upload Documents to Pinecone",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        80
      ],
      "id": "198f5be2-cac8-4483-933b-2e7b37614c52",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1HzpzDE9IpPirs7hieD05OcibpWDVy8g3",
            "mode": "list",
            "cachedResultName": "30 invoices (n8n training)",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1HzpzDE9IpPirs7hieD05OcibpWDVy8g3"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        80
      ],
      "id": "3beb3c32-63d6-4f28-a616-b769a9eff0e8",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oq80XtOgxo7Wabow",
          "name": "Google Drive (Agentic AI Account)"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        144,
        80
      ],
      "id": "213c6d20-dafa-4363-90ed-bb6161c8cae3",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oq80XtOgxo7Wabow",
          "name": "Google Drive (Agentic AI Account)"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_PINECONE_INDEX",
          "cachedResultName": "YOUR_PINECONE_INDEX"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        848,
        64
      ],
      "id": "3be6709f-fb27-40e6-82b1-31a474fbcb08",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "REPLACE_ME",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Document ID",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1008,
        288
      ],
      "id": "52b69791-7a13-4432-bfa9-02d19d49ccfe",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        976,
        480
      ],
      "id": "e5bce2f1-47c9-4140-ab4e-00010eeac1e0",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        288
      ],
      "id": "e4ed3e47-dc61-4a62-acbd-6b86ad7e97f2",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_ME",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://invoices-tu1r4ck.svc.aped-4627-b74a.pinecone.io/vectors/delete",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "deleteAll",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        -48
      ],
      "id": "5fd817ed-de51-4767-a74b-1aef93674359",
      "name": "HTTP Request",
      "credentials": {
        "pineconeApi": {
          "id": "m6EE4x9ECxKZsFBr",
          "name": "Pinecone API(Training9)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        64
      ],
      "id": "bccf365f-125d-4334-9146-7df49bfdb8c1",
      "name": "Merge"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "tertiaryinfotech-n8n-course"
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "5e1f0611-079c-41bb-bb1f-574a9a41592d",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2025-11-14T18:18:23.415Z",
      "createdAt": "2025-11-14T18:18:23.415Z",
      "role": "workflow:owner",
      "workflowId": "FEuOZbUSxDzsfZac",
      "projectId": "xqqapSDPpbdDPAUD",
      "project": {
        "updatedAt": "2026-02-27T17:43:44.345Z",
        "createdAt": "2025-07-23T10:07:06.402Z",
        "id": "xqqapSDPpbdDPAUD",
        "name": "Alfred Ang <agenticai.tertiaryrobotics@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "2587bb0c-7a6b-485c-b1d6-cdd4cb5d99bc"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}