labs/activity5-rag/Activity5-RAG-Telegram.json
{
  "name": "Activity 5 — Telegram Agent + RAG (Two Knowledge Sources)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Route each question to the right source. Use the knowledge_base tool for policy/FAQ/benefits questions and the Data Table tool for staff-record questions. Never mix the two. User message: {{ $json.message.text }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "5d465754-db1c-4b40-99c4-3df5ef82dfc4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "kJbEBFUYNTDL5F8v",
          "mode": "list",
          "cachedResultName": "abc_employees",
          "cachedResultUrl": "/projects/xqqapSDPpbdDPAUD/datatables/kJbEBFUYNTDL5F8v"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        416,
        208
      ],
      "id": "29d2a6e7-0399-4010-a762-a49710752e45",
      "name": "Get row(s) in Data table"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "d7eb31b4-082f-42fe-99a6-12de2b9b11e9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UIBPmijf4wS4ngHz",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        64
      ],
      "id": "a36512e1-fb6e-45a4-b9e3-75579678307f",
      "name": "Telegram Trigger",
      "webhookId": "56355b3e-78c6-464e-afd6-cef483a7f940",
      "credentials": {
        "telegramApi": {
          "id": "MiG1RexQPHGOwOya",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        0
      ],
      "id": "b94787bc-bb99-44be-b6bf-c0f6151fd850",
      "name": "Send a text message",
      "webhookId": "e226f6cd-28c4-4256-b5fa-975fb6ed534b",
      "credentials": {
        "telegramApi": {
          "id": "MiG1RexQPHGOwOya",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        224,
        208
      ],
      "id": "a86e94f3-f191-4768-b39c-4e3314108dc7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "memoryKey": {
          "__rl": true,
          "value": "sop",
          "mode": "list"
        },
        "toolName": "knowledge_base",
        "toolDescription": "Company policies, FAQs and benefits."
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        520,
        220
      ],
      "id": "d643d740-34b3-4149-bf0f-ceb38af072ca",
      "name": "Knowledge Base (RAG)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        520,
        420
      ],
      "id": "e6e2576b-4ca2-49d6-8a02-1c9e224bbc16",
      "name": "Embeddings (query)",
      "credentials": {
        "openAiApi": {
          "id": "Zo5pNqs4b89IMzWW",
          "name": "qualcomn"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-upload",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        560
      ],
      "id": "f690d81b-c913-4dea-9650-1dc792a11fde",
      "name": "Upload Webhook",
      "webhookId": "5cea0e3d-728c-4737-8e51-d1ac4a22f91f"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "sop",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        260,
        560
      ],
      "id": "1b96864a-7674-4a6c-bbdb-f21c153dbeaa",
      "name": "Vector Store (insert)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        760
      ],
      "id": "f6778e3d-c9a9-4ef0-b63d-991689b6132c",
      "name": "Embeddings (ingest)",
      "credentials": {
        "openAiApi": {
          "id": "Zo5pNqs4b89IMzWW",
          "name": "qualcomn"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "allInputData",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        360,
        760
      ],
      "id": "96dfcde2-fa73-45b4-aae2-28179d3e960d",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in Data table": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base (RAG)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings (query)": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base (RAG)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Upload Webhook": {
      "main": [
        [
          {
            "node": "Vector Store (insert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings (ingest)": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store (insert)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Vector Store (insert)",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3e38256d-e385-409d-861f-bc56cbc80a75",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd9d815cb100cab73a9cd63cc3f30fd090e73e9edbdc09a51a025bdf1bf015af"
  },
  "nodeGroups": [],
  "id": "a60c5d330d2f41b0",
  "tags": []
}