labs/activity5-rag/Activity5b-Pinecone-RAG.json
{
  "updatedAt": "2025-12-28T12:22:27.752Z",
  "createdAt": "2025-09-17T13:00:14.620Z",
  "id": "8e43e30d29df419c",
  "name": "Activity 5b — RAG with Pinecone (Telegram)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -48,
        16
      ],
      "id": "7a2a1905-48e2-400d-9bc9-a68ad2aa1ae4",
      "name": "Telegram Trigger",
      "webhookId": "fa80ce5d-ef2e-4dd2-bc41-eac749188aa6",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a polite and helpful AI assistant embedded in an n8n Telegram chatbot.\n\nMISSION\n- Receive and understand user messages from Telegram.\n- Analyze the user’s intent and respond appropriately.\n- Always reply in a polite, respectful, and friendly tone suitable for chat.\n- Provide clear, concise, and accurate answers.\n- If unsure or lacking information, say so gracefully and offer to escalate to a human agent.\n\nBEHAVIOR RULES\n- Do NOT discuss or comment on politics, political opinions, or political figures.\n- Avoid offensive, rude, or controversial content.\n- Keep responses short and conversational for a chat-based environment.\n- Ask clarifying questions if the user’s request is unclear.\n\nFALLBACK\n- If you cannot answer the query, respond politely:\n  \"I'm not sure about that 🤔 Please hold on while I connect you with our support team.\"\n\nSAFETY\n- Do not collect or store sensitive personal information.\n- Never provide medical, legal, or financial advice.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        176,
        16
      ],
      "id": "5a115fa5-5455-4e36-8c48-454a68ef9112",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}\n",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        16
      ],
      "id": "d11fa6e3-0b50-4bb1-ae50-5e11904606e4",
      "name": "Telegram",
      "webhookId": "669e63a7-692a-4cba-98cb-53bde68b05ba",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        208
      ],
      "id": "6c1fd1be-d632-4305-bb08-3fca57d40724",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        560,
        240
      ],
      "id": "1df64603-bbc3-4ac9-9fa7-4e6a317b817f",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_PINECONE_INDEX",
          "cachedResultName": "YOUR_PINECONE_INDEX"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        320,
        384
      ],
      "id": "79fd3b8a-f36c-4e54-8b88-3e14ed4a6b41",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "REPLACE_ME",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        528
      ],
      "id": "05d5ad0c-9e04-448e-9ce5-a7a5d113945f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_ME",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        224
      ],
      "id": "79d8b826-a013-4213-9c5e-a0655e16ee41",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_ME",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        448
      ],
      "id": "85bedf27-9bec-4cf7-8a33-12344c84ed3b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_ME",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Laptop node1": {
      "Laptop node1": {
        "lastTimeChecked": 1756860428,
        "possibleDuplicates": [
          "1990d0ad2c94b0f6",
          "1990d0977f9bafd3"
        ]
      }
    },
    "node:Lap Request": {
      "Lap Request": {
        "lastTimeChecked": 1756865479,
        "possibleDuplicates": [
          "1990d57e47f6c524",
          "1990d564a23eee11"
        ]
      }
    },
    "node:Email Trigger": {
      "Email Trigger": {
        "lastTimeChecked": 1757245423,
        "possibleDuplicates": [
          "19923fd40712663b"
        ]
      }
    }
  },
  "meta": {
    "templateId": "tertiaryinfotech-n8n-course"
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "2d850894-cd4a-40eb-b8da-0650e3253ec5",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2025-09-17T13:00:14.620Z",
      "createdAt": "2025-09-17T13:00:14.620Z",
      "role": "workflow:owner",
      "workflowId": "4t0ebC8oAOm5UIQD",
      "projectId": "xqqapSDPpbdDPAUD",
      "project": {
        "updatedAt": "2026-02-27T17:43:44.345Z",
        "createdAt": "2025-07-23T10:07:06.402Z",
        "id": "xqqapSDPpbdDPAUD",
        "name": "Alfred Ang <agenticai.tertiaryrobotics@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "2587bb0c-7a6b-485c-b1d6-cdd4cb5d99bc"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}